{% extends "admin_base.html" %}

{% block content %}
{% include "admin_menu.html" %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="display-6 mb-3"><i class="fa-solid fa-pen-to-square me-2"></i>Muuda kategooriat</h1>

            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button class ="btn btn-warning mt-3 me-2" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i>Salvesta muudatused</button>
                <a class="btn btn-secondary mt-3" href="{% url 'app_admin:category_list' %}"><i class="fa-solid fa-chevron-left me-2"></i>Tagasi listi</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}